<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bm/jq-3.6.0/dt-1.13.1/fh-3.3.1/datatables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/v/bm/jq-3.6.0/dt-1.13.1/fh-3.3.1/datatables.min.js"></script>
</head>

<body>
    {% block body %}
    {% endblock %}
</body> 


</html>