{% extends "base.html" %}
{% block body %}

<table id="table" class="table is-striped" style="width:100%">
    <thead>
        <tr>
            <th>TLD</th>
            <th>Registration</th>
            <th>Renewal</th>
            <th>Transfer</th>
        </tr>
    </thead>
    <tbody>
{% for row in table %}
    <tr>
        <td>.{{row.tld}}</td>
        <td data-sort="{{ row.price_registration }}">
            {{ row.price_registration }} € <span class="has-text-dark">({{ row.provider_registration }})</span>
        </td>
        <td data-sort="{{ row.price_renewal }}">
            {{ row.price_renewal }} € <span class="has-text-dark">({{ row.provider_renewal }})</span>
        </td>
        <td data-sort="{{ row.price_transfer }}">
            {{ row.price_transfer }} € <span class="has-text-dark">({{ row.provider_transfer }})</span>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            paging: false,
            fixedHeader: {
                header: true
            }
        });
    });
</script>
{% endblock %}
